<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
</head>
<body>
    <main>
        <h4 style="text-align: center;">My Account Details</h4>
        <div>
            <p><strong>Username:</strong> <%= user.username %></p>
            <p><strong>Email:</strong> <%= user.email %></p>
            <p><strong>Type:</strong> <%= user.type %></p>
        </div>
    </main>
</body>
</html>
