body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.header h1 {
    font-size: 35px;
    margin-right: 10px;
}

.header .logo {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

.container {
    display: flex;
    width: 800px;
    border: 1px solid green;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.login-section {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.employee {
    background-color: rgb(121, 97, 148);
    color: white;
}

.student {
    background-color:#C7D3D4FF;
    color: rgb(81, 74, 74);
}

.login-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    border: 1px solid green;
    border-radius: 4px;
    margin-top: 10px;
}

.login-section label {
    align-self: flex-start;
    margin-bottom: 5px;
    color: black;
}

.login-section input {
    width: 80%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid green;
    border-radius: 4px;
}

.login-button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: rgb(27, 10, 10);
    font-size: 14px;
}

.employee-btn {
    background-color: rgb(154, 123, 190);
}

.student-btn {
    background-color: #C7D3D4FF;
}

.login-button:hover {
    opacity: 0.9;
}
